<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService" class="com.minesaber.demo.service.impl.UserServiceImpl"/>
    <bean id="myAdvice1" class="com.minesaber.demo.advice.MyAdvice1"/>
    <!--使用advisor方式织入-->
    <!--<bean id="myAdvice2" class="com.minesaber.demo.advice.MyAdvice2"/>-->
    <!--<bean id="myAdvice3" class="com.minesaber.demo.advice.MyAdvice3"/>-->
    <!--配置切面-->
    <aop:config>
        <!--切点表达式-->
        <aop:pointcut id="myPointCut1"
                      expression="execution(void com.minesaber.demo.service.impl.UserServiceImpl.method_1(..))"/>
        <aop:pointcut id="myPointCut2"
                      expression="execution(void com.minesaber.demo.service.impl.UserServiceImpl.method_2(..))"/>
        <aop:pointcut id="myPointCut3"
                      expression="execution(void com.minesaber.demo.service.impl.UserServiceImpl.exceptionExample(..))"/>
        <!--织入方式-->
        <aop:aspect ref="myAdvice1">
            <!--method_1的通知的织入：前置、后置、最终通知-->
            <aop:before pointcut-ref="myPointCut1" method="beforeAdvice"/>
            <aop:after-returning pointcut-ref="myPointCut1" method="afterReturningAdvice"/>
            <aop:after pointcut-ref="myPointCut1" method="afterAdvice"/>
            <!--method_2的通知的织入：环绕通知-->
            <aop:around pointcut-ref="myPointCut2" method="aroundAdvice"/>
            <!--exceptionExample的通知的织入-->
            <aop:after-throwing pointcut-ref="myPointCut3" method="afterThrowingAdvice" throwing="exception"/>
        </aop:aspect>
        <!--使用advisor方式织入-->
        <!--<aop:advisor pointcut-ref="myPointCut1" advice-ref="myAdvice2"/>-->
        <!--<aop:advisor pointcut-ref="myPointCut1" advice-ref="myAdvice3"/>-->
    </aop:config>
</beans>